body{
    font-family: 'Readex Pro', sans-serif;
    margin: 0 auto;
    background: #FFFFFF;
    margin-left: 73px;
    margin-right: 73px;
    
}

.header-title{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    margin-top: 20px;

}

.header-logo{
    cursor: pointer;
}

.li-item{
    display: inline;
    align-items: center;
    text-decoration: none;
    list-style: none;
    margin-right: 38px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.lupa-item{
    margin-right: 27px;
}

.header-end{
    cursor:  pointer;
}

.new-phones{
    margin-top: 60px    ;
}

.new-phones-wrapper{
    background-color:#DCE5E2;
    border-radius: 32px;
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
}

.new-phones-text h2{
    font-size: 58px;
    line-height: 70px;
    color: #000000;
}

.new-phones-text p{
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.btn-explore{
border: 1px solid #000000;
border-radius: 200px;
padding: 14px 53px;
background: #DCE5E2;
margin-top: 30px;
font-family: 'Inter', sans-serif;
cursor: pointer;
}

.new-phones-text{
    margin-left: 56px;
    margin-top: 145px;
}

.categories-title{
    text-align: center;
}

.categories-title-text h3{
    font-size: 42px;
    line-height: 52px;
    color: #000000;
    margin-top: 75px;
}


.categories-title-text p{
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    margin-top: 9px;
}

.block{
    background: #FFFFFF;
    border-radius: 32px;
    height: 472px;
    width: 639px;
    box-shadow: -5px 3px 27px 0px rgb(0 0 0 / 50%);

}

.block-two{
    margin-top: 72px;
}

.block_two-about{
    background: #FFFFFF;
    border-radius: 32px;
    height: 270px;
    width: 639px;
    display: flex;
    box-shadow: -5px 3px 27px 0px rgb(0 0 0 / 50%);
    

}

.block_two-about p{
    height: 20px;
    position: relative;
    top: 100px;
    left: 123px;
}

.block_two-about h4{
    margin-top: 106px;
    font-size: 32px;
    line-height: 38px;
    text-align: right;
    color: #000000;
    height: 77px;
    width: 127px;
    margin-left: 46px;
}

.about-text-lap{
    text-align: end;
    position: relative;
    top: -13px;
    right: 90px;
    
}

.about-text-lap h4{
    font-size: 32px;
    line-height: 38px;
    color: #000000;
    width: 192px;
    margin-left: auto;
    position: relative;
    bottom: 49px;
}

.block-3-about{
    background: #FFFFFF;
    border-radius: 32px;
    height: 792px;
    width: 312px;
    border-radius: 32px;
    margin-right: 16px;
    box-shadow: -5px 3px 27px 0px rgb(0 0 0 / 50%);
}

.phones-text{
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    color: #000000;
}

.about-phones{
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
    width: 296px;
    text-align: center;
}

.iphone-x{
    margin-top: 144px;
}

.planshet-x{
    margin-top: 42px;
}

.phones-text-1{
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    padding-top: 114px;
}

.laptop-sect{
    display: flex;
    margin-top: 55px;
    margin: 0 auto;
    width: 1294px;
    padding-top: 50px;
}


.wrapp-block{
    display: flex;
}

.block-3{
    margin-left: 16px;
}

.block-3-about-3{
    background: #FFFFFF;
    border-radius: 32px;
    height: 792px;
    width: 312px;
    border-radius: 32px;
    position: relative;
    top: -12px;
    box-shadow: -5px 3px 27px 0px rgb(0 0 0 / 50%);

}

.save-more{
    margin-top: 72px;
}

.save-more-text h2{
    font-size: 42px;
    line-height: 17px;
    text-align: center;
    color: #000000;
}

.save-more-text p{
    font-size: 13px;
    line-height: 17px;
    color: #000000;
    text-align: center;
}

.wrapper-sale{
    background: cover;
    margin: 0 auto;
}

.best-sale_title{
    display: flex;
    justify-content: center;
}

.block-sale h4{
    font-size: 22px;
    line-height: 28px;
    color: #000000;
}

.block-sale p{
    font-size: 14px;
    line-height: 17px;
    color: #4B4B4B;
    width: 261px;
    font-family: 'Inter', sans-serif;
}
.cost-sale{
    font-size: 18px;
line-height: 22px;
color: #000000;
}

.block-sale{
    margin-right: 70px;
    
}

.best-sale{
    margin-top: 59px;
}

.more-best_block{
    background: #F8F9FA;
    border-radius: 16px;
    height: 491px;
    width: 413px;
    text-align: center;
    margin-right: 28px;
   
}


.save-more-wrapp{
    background: #FFFFFF;
    margin-left: -73px;
    margin-right: -73px;
    height: 663px;
}


.save-more-text{
    padding-top: 10px;
}

.smart-text{
    font-size: 13px;
    line-height: 0px;
    color: #000000;
    padding-top: 44px;
}


.latest-text{
    font-size: 28px;
    line-height: 35px;
    color: #000000;
}

.btn-exp-smart{
    border: 1px solid #000000;
    border-radius: 200px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #000000;
    padding: 14px 53px;
    background: #F8F9FA;
    font-family: 'Inter', sans-serif;
}
.more-best-title{
    display: flex;
    justify-content: center;
    margin-top: 56px;
}


.img-sale_sale{
    margin-top: 30px;
}

.ideas-here{
    display: flex;
    justify-content: center;
}

.ideas-here-text{
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    margin-left: 30px;
    font-family: 'Inter', sans-serif;
}

.ideas{
    margin-top: 56px;
}

.see-all{
    text-align: center;
    margin-top: 73px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    color: #000000;
    cursor: pointer;
}

.looking-anything{
    text-align: center;
    font-size: 42px;
    line-height: 52px;
    color: #000000;
    margin-top: 72px;
}

.search-input{
background: #F8F9FA;
border: 1px solid #C5C5C5;
border-radius: 100px;
text-align: center;
width: 650px;
height: 60px;
margin-left: 269px;       
text-align: left;
 padding: 0px 42px;
}

.img-search{
    position: relative;
    right: -312px;
    top: 10px;
}


.never-miss-title{
    width: 935px;
    height: 540px;
    background: #DCE5E2;
    border-radius: 16px;
    margin: 0 auto;
}

.never-miss-text{
    text-align: center;
   padding-top: 47px;
   margin-top: 150px;
}

.input-email{
    background: #DCE5E2;
    border: 1px solid #000000;
    border-radius: 54px 0px 0px 54px;
    width: 285px;
    height: 50px;
    padding: 0 34px;
    margin-top: 30px;
}

.btn-sign{
    background: #000000;
    border-radius: 0px 200px 200px 0px;
    height: 51.5px;
    width: 115px;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 6.5px 30.5px;
    position: relative;
    right: 6px;
    
}

.never-miss-text h3{
    font-size: 42px;
    line-height: 1px;
    color: #000000;
}

.wrapper-footer{
    background: #F8F9FA;
    border-radius: 0px; 
    height: 420px;
    margin-left: -73px;
    margin-right: -73px;
    margin-top: 19px;
    border-top: 1px solid #DCE5E2;
}

.footer{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.footer-text{
    margin-right: 93px;
    margin-top: 44p;
    margin-bottom: 78px;
}

.footer-logo p{
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    width: 300px;
}

.footer-text h5{
    font-size: 22px;
    line-height: 28px;
    color: #000000;
}

.footer-logo{
    margin-left: 73px;
    margin-top: 44px;
}

.line{
    width: 1350px;
    height: 1px;
    background: #DCE5E2;
    margin-top: 78px;
    margin: 0 auto;
}

.made{
    display: flex;
    justify-content: space-between;
    margin-left: 84px;
    margin-right: 90px;
    margin-top: 52px;
}